 <!-- page title -->
 <section class="page-title-section overlay"  style="background-image: url('assets/images/backgrounds/bg_1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Contact Us</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->
<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="#" class="row" #contactForm="ngForm" (ngSubmit)="sendMessage()">
          <input type="text" class="form-control mb-3"  [(ngModel)]="contacts.name" [ngModelOptions]="{standalone:true}" name="name" placeholder="Your Name">
          <input type="email" class="form-control mb-3" [(ngModel)]="contacts.email" [ngModelOptions]="{standalone:true}" name="email" placeholder="Your Email">
          <input type="text" class="form-control mb-3" [(ngModel)]="contacts.subject" [ngModelOptions]="{standalone:true}" name="subject" placeholder=" Your Subject">
          <textarea class="form-control mb-3" [(ngModel)]="contacts.message" [ngModelOptions]="{standalone:true}"   name="message"      placeholder="Your Message"></textarea>
          <button type="submit" id="submit" class="btn btn-primary">SEND MESSAGE</button>
        </form>
      </div>
      <div class="col-lg-5">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit recusandae voluptates doloremque veniam temporibus porro culpa ipsa, nisi soluta minima saepe laboriosam debitis nesciunt. Dolore, labore. Accusamus nulla sed cum aliquid exercitationem debitis error harum porro maxime quo iusto aliquam dicta modi earum fugiat, vel possimus commodi, deleniti et veniam, fuga ipsum praesentium. Odit unde optio nulla ipsum quae obcaecati! Quod esse natus quibusdam asperiores quam vel, tempore itaque architecto ducimus expedita</p>
        <a href="tel:+8802057843248" class="text-color h5 d-block">+880 20 5784 3248</a>
        <a href="" class="mb-5 text-color h5 d-block">sekhediyahoo.fr</a>
        <p>71 Shelton Street<br>London WC2H 9JQ England</p>
      </div>
    </div>
    
  </div>
</section>
<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.8462061014907!2d10.19464012564741!3d36.84615917223393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd35de336061ff%3A0x80b7321c9b8429e8!2sCrocoCoder!5e0!3m2!1sfr!2stn!4v1731532722926!5m2!1sfr!2stn" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- /contact -->

