<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('assets/images/backgrounds/bg_1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="teacher.html">Upcoming Events </a></li>
    
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->
  <section class="section bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center section-title justify-content-between">
              <h2 class="mb-0 text-nowrap mr-3"></h2>
              <div class="border-top w-100 border-primary d-none d-sm-block"></div>
              <div>
                <a routerLink="/addEvent" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">addEvent</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
      <!-- event -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0" *ngFor="let t of eventsTab">
        <div class="card border-0 rounded-0 hover-shadow">
          <div class="card-img position-relative">
            <img class="card-img-top rounded-0" src="{{t.avatar}}" alt="event thumb">
            <div class="card-date"><span>{{t.date}}</span><br></div>
          </div>
          <div class="card-body">
            <!-- location -->
            <p><i class="ti-location-pin text-primary mr-2"></i>{{t.place}}</p>
            <a href="event-single.html"><h4 class="card-title">{{t.description}}</h4></a>
            <div class="btn-group btn-group-sm">
                
                <button type="button" class="btn btn-info" (click)="goToEdit(t._id)">EDIT</button>
                <button type="button" class="btn btn-danger" (click)="deleteEvent(t._id)">DELETE</button>
                <button type="button" class="btn btn-warning" (click)="goToAdd()">ADD</button>

            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- mobile see all button -->
        <div class="row">
          <div class="col-12 text-center">
            <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
          </div>
        </div>
      </div>
    </section>