<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('assets/images/backgrounds/bg_1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" >Change Password</a></li>
    
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

<div  tabindex="-1" aria-hidden="true">
    <div  class="modal-dialog modal-lg" role="document" >
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Change Password</h3>
               
            </div>
            <div class="modal-body">
                
                <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                    <div class="col-12">
                      <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control mb-3" placeholder="old password">
                      <div *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched">
                        Ancien mot de passe requis
                      </div>
                    </div>
                    <div class="col-12">
                      <input type="password" id="newPassword" formControlName="newPassword" placeholder="new password" class="form-control mb-3" >
                      <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
                                      Nouveau mot de passe requis (min 6 caractères)
                      </div>
                    </div>
                    <div class="col-12">
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="confirm password" class="form-control mb-3" >
                      <div *ngIf="passwordForm.get('confirmPassword')?.value !== passwordForm.get('newPassword')?.value">
                                         Les mots de passe ne correspondent pas
                    </div>
                  </div>
                  <button type="submit" [disabled]="passwordForm.invalid" class=" btn btn-primary">Change password</button>
                </form>
                <div style="color: red;"> {{msg}}</div>
            </div>
        </div>
    </div>
</div>