<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div>
      <label for="oldPassword">Ancien mot de passe :</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" />
      <div *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched">
        Ancien mot de passe requis
      </div>
    </div>
    <div>
      <label for="newPassword">Nouveau mot de passe :</label>
      <input type="password" id="newPassword" formControlName="newPassword">
      <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
        Nouveau mot de passe requis (min 6 caractères)
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirmez le nouveau mot de passe :</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      <div *ngIf="passwordForm.get('confirmPassword')?.value !== passwordForm.get('newPassword')?.value">
        Les mots de passe ne correspondent pas
    </div>
  </div>
  <button type="submit" [disabled]="passwordForm.invalid">Changer le mot de passe</button>
</form>